<!DOCTYPE html>
<html>
    <head>
        <title>Shopin</title>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />       
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />        

    </head>
    <body>          
        <div class="banner-top">
            <div class="container">
                <h2>Thank you for successfully registering on our site!</h2>
                <em></em>
                <h2><a href="/">Home</a><a style="margin-left: 25px;" href="/login">Login</a></h2>                
            </div>
        </div>      
        <div class="container">
            <div class="four">
                <h6>Your account is active!</h6>
                <p>Now you can log in and enjoy shopping</p>
                <a href="/" class="hvr-skew-backward">Home</a>
                <a href="/login" class="hvr-skew-backward" style="margin-left: 25px;">Login</a>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                localStorage.removeItem("simpleCart_extra");
            });
        </script>
    </body>
</html>