<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Shopin</title>
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />       
        <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />        

        <script src="../js/jquery.min.js"></script>
    </head>
    <body>          
        <div class="banner-top" style="margin-bottom: 25px;">
            <div class="container">
                <h1>New password</h1>
                <em></em>
                <h2><a href="/">Home</a></h2>
            </div>
        </div>      
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6 login-do">                
                <div class="alert alert-danger" th:errors="${newpassword}">...</div>
                <form id="newpasswordId" method="post" th:action="@{/newpassword}" th:object="${newpassword}">
                    <input type="hidden" th:field="*{token}" th:value="*{token}"/>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="login-mail">
                        <h6>* Enter the password you received via email</h6>
                        <input type="password" th:field="*{reset}" required="required" placeholder="Reset password"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('reset')}" th:errors="*{reset}">Reset error</p>                        
                    </div>  
                    <div class="login-mail">
                        <h6>* Enter the new password</h6>
                        <input type="password" th:field="*{password}" required="required" placeholder="New password"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
                        <meter max="4" style="width:100%; height:5px;" id="password-strength-meter"></meter>
                        <p id="password-strength-text"></p>
                    </div>
                    <div class="login-mail">
                        <h6>* Confirm new password</h6>
                        <input type="password" th:field="*{confirm}" required="required" placeholder="Confirm new password"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Confirm error</p>
                    </div>
                    <label class="hvr-skew-backward">
                        <input type="submit" value="Set New Password"/>
                    </label>                    
                </form>                
            </div>
            <div class="col-md-3"></div>
        </div>           
                
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script type="text/javascript" src="../js/password.js"/>
        <script>
            $(document).ready(function () {
                localStorage.removeItem("simpleCart_extra");
            });
        </script>
    </body>
</html>