<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Shopin</title>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />       
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />        

    </head>
    <body>          
        <div class="banner-top" style="margin-bottom: 25px;">
            <div class="container">
                <h1>Password recovery</h1>
                <em></em>
                <h2><a href="/">Home</a></h2>
            </div>
        </div>      
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6 login-do">                
                <div class="alert alert-danger" th:errors="${email}">...</div>
                <form id="resetId" method="post" th:action="@{/reset}" th:object="${email}">  
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="login-mail">
                        <input type="text" th:field="*{email}" required="required" placeholder="E-mail"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</p>
                    </div>                    
                    <label class="hvr-skew-backward">
                        <input type="submit" value="Reset password"/>
                    </label>                    
                </form>
                <h6>* Please enter a valid email address and we will send you a reset password.</h6>
            </div>
            <div class="col-md-3"></div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                localStorage.removeItem("simpleCart_extra");
            });
        </script>
    </body>
</html>