<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Administration page</title>
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />   
    </head>
    <body>        
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">               
                <table style="width:50%">
                    <tr>
                        <td>
                            <a href="/x10qerK0/add">
                                <button class="btn btn-lg btn-primary" type="button">Add product</button>
                            </a>
                        </td>
                        <td style="padding-left: 15px;">
                            <a href="/x10qerK0/modify">
                                <button class="btn btn-lg btn-primary" type="button">Modify product</button>
                            </a>
                        </td>
                        <td style="padding-left: 15px;">
                            <a href="/x10qerK0/switch">
                                <button class="btn btn-lg btn-danger" type="button">Block / activate user</button>
                            </a>
                        </td>                                              
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
