<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Shopin</title>
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />       
        <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />        

        <script src="../js/jquery.min.js"></script>
    </head>
<body>
<!--header-->
<!--banner-->
	<div class="banner-top">
	<div class="container">
		<h1>Contact Us</h1>
		<em></em>
		<h2><a href="/">Home</a></h2>
	</div>
</div>	
		
			<div class="contact">
					
				<div class="contact-form">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>Lorem ipsum </h3>
						<p>Lorem ipsum</p>
					
			
					<div class="address">
					<div class=" address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<h3>Address</h3>
								<p>Lorem ipsum</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
							<h3>Phone:</h3>
								<p>123456789</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
							<h3>Email:</h3>
								<p><a href="mailto:info@example.com"> Lorem@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-bell"></i>
							<div class="address1">
								<h3>Time schedule:</h3>
								<p>Monday-Friday 08:00-20:00</p>
							</div>
							<div class="clearfix"> </div>
						</div>
</div>
				</div>
				<div class="col-md-6 contact-top">
					<h3>Map:</h3>
					<form>
						<div class="map">
						<div class="mapouter">
                                                    <div class="gmap_canvas">
                                                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Romania&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">how to add google map to website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                                                    </div>
                                                </div>
					</div>
</form>						
				</div>
		<div class="clearfix"></div>
		</div>
		</div>
	</div>

<!--//contact-->

			
	<!--//content-->
	<!--//footer-->
	   <div class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="col-md-3 footer-middle-in">
                        <a href="/"><img src="images/log.png" alt=""/></a>
                        <p>Explore the trends and buy pieces from the hottest collections, from jackets, jeans and dresses to sports blouses, knitwear, T-shirts and much more - available for you to create the perfect outfit.</p>
                    </div>

                    <div class="col-md-3 footer-middle-in">
                        <h6>Support and assistance</h6>
                        <ul class=" in">
                            <li><a href="404.html">About Us</a></li>
                            <li><a href="/contact">Payment methods</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="/contact">Delivery options</a></li>
                        </ul>
                        <ul class="in in1">
                            <li><a href="/login">Register</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="wishlist.html">Guarantee</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>Tags</h6>
                        <ul class="tag-in">
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Coats</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">T-shirts</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Boots</a></li>
                        </ul>
                    </div>
                    <!--
                    <div class="col-md-3 footer-middle-in">
                        <h6>Newsletter</h6>
                        <span>Please enter your email address</span>
                        <form>
                            <input type="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                                this.value = 'E-mail';
                                }"/>
                            <input type="submit" value="Subscribe"/>
                        </form>
                    </div>
                    -->
                    <div class="clearfix"> </div>
                </div>
            </div>
           <div class="footer-bottom">
                <div class="container">
                    <ul class="footer-bottom-top">
                        <!--
                        <li><a href="#"><img src="images/f1.png" class="img-responsive" alt=""/></a></li>
                        <li><a href="#"><img src="images/f2.png" class="img-responsive" alt=""/></a></li>
                        <li><a href="#"><img src="images/f3.png" class="img-responsive" alt=""/></a></li>
                        -->
                    </ul>
                    <p class="footer-class">&copy; 2025 All rights reserved </p>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
		<!--//footer-->
<!-- slide -->
<script src="js/bootstrap.min.js"></script>
<script>
            $(document).ready(function () {
                localStorage.removeItem("simpleCart_extra");
            });
        </script>
 
</body>
</html>